body{
    background-image: url(bg.jpg);
    background-size: contain;
}
.heading{
    font-size: 23px;
    width: 95%;
    height: 120px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Love Ya Like A Sister', cursive;
    background-color: rgb(200, 60, 118) !important;
}
.note{
    font-size: 15px;
    color: wheat;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(184, 18, 87);
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    animation-name: canvas_animation;
    animation-duration:4s ;
    animation-iteration-count: infinite;
}
@keyframes canvas_animation{
    from {box-shadow: 10px 10px 10px 15px rgb(255, 137, 196);}
    to{box-shadow: 10px 10px 10px rgb(164, 255, 137);}
}
